.seprator {
  display: none;
}
.seprator .circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--seprator-circle-bg-color);
  width: 0.5rem;
  height: 0.5rem;
}

.seprator .circle + .circle {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .seprator {
    display: block;
  }
}
